@font-face {
    font-family: "julius";
    src: url(/assets/Julius_Sans_One/JuliusSansOne-Regular.ttf);
}

body {
    font-family: "julius";
    font-weight: 900;
    text-align: center;
}

h1 {
    text-shadow: 0px 10px 8px rgba(0, 0, 0, 0.15);
}

input {
    cursor: pointer;
}

#golfbag {
    width: 40%;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    margin-left: -3rem;
}

#defaultClub {
    position: absolute;
    transform: scale(.15);
    margin-top: -21rem;
    margin-left: -28rem;
    opacity: .1;
}

#golfbag:hover {
    transform: scale(1.1);
}

#driver:hover {
    transform: scale(.54);
}

#wood:hover,
#hybrid:hover {
    transform: scale(.30);
}

#wedges:hover {
    transform: scale(.28);
}

#irons:hover {
    transform: scale(.20);
}

#putter:hover {
    transform: scale(.14);
}

#listWood,
#listWedges {
    padding-left: 2rem;
}

#listHybrid {
    padding-left: 3rem;
}

#listIrons {
    padding-left: 3.7rem;
}

h3 {
    margin-top: -3rem;
    margin-left: -4rem;
    font-size: .8rem;
    text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.15);
}

ul {
    z-index: 1;
    margin-left: -10rem;
}

li {
    list-style: none;
    transition-duration: 300ms;
    margin: 1.5rem;
    text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
}

li:hover {
    transform: scale(1.3);
    cursor:context-menu;
    text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);
}

section {
    display: flex;
    align-items: center;
    margin-top: 4rem;
}

#totalPrice {
    display: none;
}

h2 {
    font-size: 1.2rem;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}

#driver {
    transform: scale(.45);
    transition-duration: 300ms;
    position: absolute;
    margin-top: -4.5rem;
    margin-left: -7.5rem;
    display: none;
}

#wood {
    transform: scale(.25);
    transition-duration: 300ms;
    position: absolute;
    margin-top: -12.5rem;
    margin-left: -15.5rem;
    display: none;
}

#hybrid {
    transform: scale(.25);
    transition-duration: 300ms;
    position: absolute;
    margin-top: -13rem;
    margin-left: -11rem;
    display: none;
    z-index: 0;
}

#irons {
    transform: scale(.16);
    transition-duration: 300ms;
    position: absolute;
    margin-left: -24rem;
    margin-top: -21.5rem;
    display: none;
}

#wedges {
    transform: scale(.24);
    transition-duration: 300ms;
    position: absolute;
    margin-left: -15rem;
    margin-top: -14rem;
    display: none;
}

#putter {
    transform: scale(.12);
    transition-duration: 300ms;
    position: absolute;
    margin-left: -36rem;
    margin-top: -32.5rem;
    display: none;
}

#calculatePrice {
    position: absolute;
    right: 6rem;
    top: 7rem;
}

#clubsPictures {
    width: 130px;
    height: 100px;
    margin-left: clamp(1px, 6rem, 10vw);
    text-align: center;
}

#priceClubs * {
    margin-bottom: .5rem;
}

#priceClubs {
    text-align: right;
}